.contacts {
  display: flex;
  width: 410px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a69c9c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  margin-right: 10px;
  background-color: azure;
}

.contactItem {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #615f5f;
  background-color: rgb(168, 153, 135);
  color: whitesmoke;
  width: 130px;
  height: 50px;
  text-align: center;
  margin-left: 140px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  &:hover {
    background-color: rgb(163, 183, 74);
  }
}

.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.number {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #000;
  margin: 0;
}
